In [42]:
import pandas as pd
import numpy as np
import datetime

In [43]:
data_project = pd.read_csv('Permit.csv')

In [ ]:
dt=data_project.values
#del data_project
#data_project=dt

In [ ]:
data_project['Issuance Date'] = pd.to_datetime(data_project['Issuance Date'], format= '%Y-%m-%d')
data_project['Expiration Date'] = pd.to_datetime(data_project['Expiration Date'], format= '%Y-%m-%d')
data_project['Days'] = (data_project['Issuance Date'] - data_project['Expiration Date']).dt.days

In [ ]:
#year-long permits were issued in the borough and it fraction

In [ ]:
data_project.loc[data_project['Days'] >= 365,['Days','BOROUGH']]

In [ ]:
(5/data_project.shape[0])*100

In [4]:
data_project["Owner's Business Type"]=(data_project["Owner's Business Type"]).astype(str)
data_project['Filing Status'] = (data_project['Filing Status']).astype(str)

In [6]:
data_project.loc[data_project['Filing Status'] =='RENEWAL',"Owner's Business Type"].value_counts()

CORPORATION           186449
INDIVIDUAL            172545
PARTNERSHIP           110741
OTHER                  51612
nan                    34981
OTHER GOV'T AGENCY      9614
CONDO/CO-OP             6405
NYCHA                   2596
HPD                      848
DCAS                     333
NY STATE                 287
HHC                      279
DOE                      220
NYC AGENCY                28
NYCHA/HHC                  5
Name: Owner's Business Type, dtype: int64

In [7]:
#data_project.loc[data_project['Filing Status'] =='RENEWAL',"Owner's Business Type"].value_counts()/data_project[data_project['Filing Status']=='RENEWAL'].shape[0]

In [44]:
data_project['Issuance Date'] = pd.to_datetime(data_project['Issuance Date'], format= '%Y-%m-%d')
data_project['Expiration Date'] = pd.to_datetime(data_project['Expiration Date'], format= '%Y-%m-%d')
data_project['Start Date'] = pd.to_datetime(data_project['Job Start Date'],yearfirst=True, format = '%Y-%m-%d',errors='coerce')
data_project['Days'] = (data_project['Issuance Date'] - data_project['Expiration Date']).dt.days

In [45]:
data_project['Start Mon'] = data_project['Start Date'].dt.month
data_project['Start Yr'] = data_project['Start Date'].dt.year

In [51]:
data_project.loc[data_project['Start Mon'].isnull(),'Start Mon']= 1.0
data_project.loc[data_project['Start Yr'].isnull(),'Start Yr']=1990.0

In [74]:
#data_project['Start Yr'].isnull().sum()
dt=data_project.loc[(data_project['Start Yr'] >= 1990.0) & (data_project['Start Yr'] <= 2012.0),:]

In [77]:
dtt=pd.DataFrame(pd.crosstab(dt['Start Yr'],dt['Start Mon']).T)

In [99]:
max(dtt.iloc[0:2,:].sum(axis=0)/dtt.iloc[7:9,:].sum(axis=0))

1.0228585626436424

In [92]:
dtt.iloc[7:9,:].sum(axis=0)

Start Yr
1990.0     5834
1991.0     8409
1992.0     9631
1993.0    10951
1994.0    11173
1995.0    11849
1996.0    11903
1997.0    12942
1998.0    14991
1999.0    17416
2000.0    20356
2001.0    16099
2002.0    21707
2003.0    22916
2004.0    26713
2005.0    29551
2006.0    30001
2007.0    28730
2008.0    24433
2009.0    21341
2010.0    22992
2011.0    23390
2012.0    21310
dtype: int64

In [ ]:
#tabl = pd.crosstab(data_project['Start Mon'],data_project['Days'])

In [ ]:
data_project['Days'].sort_values(ascending=False).head(15)

In [35]:
def funone(x):
    if x >= 0 and x <= 60:
        return 60
    else:
        return x

In [36]:
dt_60 = data_project['Days'].apply(funone)
#dt_less_60 = data_project.loc[data_project['Days'] >= 0 & data_project['Days']<=60,'Days']

In [37]:
Mon_nov = data_project.loc[data_project['Start Mon']==11.0,'Start Mon']

In [38]:
tab2 = pd.crosstab(dt_60,Mon_nov)

In [40]:
#tab2

In [41]:
from scipy.stats import chi2_contingency
chi2,p,dof,e=chi2_contingency(tab2.values)
print(p)
print('p values is {} chi squ {}' .format(p,chi2))

1.0
p values is 1.0 chi squ 0.0

In [ ]:
data_project[data_project['Start Mon']==11.0 ]['Days'].sort_values()

In [32]:
def funone(m,d):
    
    if (m == 11.0):
        
        if (d > 0.0 and d <= 60.0):
            return 1.0
        else:
            return 0.0
    else:
        return 0.0

In [33]:
data_project['Chi2'] = data_project.apply(lambda x:funone(x['Start Mon'],x['Days']),axis=1)

In [29]:
#data_project.loc[data_project['Days']>=0.0 and data_project['Days']<=60.0),['Start Mon']].value_counts()

In [23]:
data_project[data_project['Start Mon']==11.0].shape[0]

194602

In [34]:
data_project['Chi2'].value_counts()/data_project[data_project['Start Mon']==11.0].shape[0]

0.0    12.479430
1.0     0.000021
Name: Chi2, dtype: float64

In [12]:
data_project['Days'].dtypes

dtype('float64')

In [4]:
data_project['filldt'] = pd.to_datetime(data_project['Filing Date'],yearfirst=True, format = '%Y-%m-%d',errors='coerce')

In [5]:
data_project['filldt'] = data_project['filldt'].dt.year

In [47]:
data_project['Postcode'].nunique()

227

In [6]:
data_project.loc[data_project['filldt'] == 2010,'Postcode'].value_counts()

10022.0    3295
10013.0    3037
10003.0    2949
10011.0    2826
10019.0    2790
           ...
10162.0       3
11251.0       2
10048.0       1
10278.0       1
0.0           1
Name: Postcode, Length: 220, dtype: int64

In [6]:
data_project['Resd'] = data_project['Residential'].astype('str')
data_project.loc[data_project['Resd'].isnull(),'Resd']='No'
data_project['Resd'].isnull().sum()

0

In [7]:
data_project['Resd'] = data_project['Resd'].replace('nan','No')
data_project['Resd'].value_counts()

No     1655754
YES     772772
Name: Resd, dtype: int64

In [8]:
dp=data_project.loc[data_project['filldt'] == 2010,['Resd','Postcode']]

In [17]:
def funtwo(x):
    if x == 'YES':
        return 1.0
    else:
        return 0.0

In [18]:
dp['Resd']=dp['Resd'].apply(funtwo)

In [29]:
((dp.groupby('Postcode')['Resd'].sum()/dp.groupby('Postcode')['Resd'].count())<0.05).count()

220