This notebook created for Coursera capstone project

In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt

In [5]:
import os
#os.chdir("/content")

In [6]:
pwd

'/content'

In [7]:
%ls

drive/      outcomes.csv  sample_data/
essays.csv  projects.csv  sample_data_audit.csv

In [3]:
data_project = pd.read_csv('Permit.csv')

C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8,9,10,15,31,33,36,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
#data_project['Issuance Date'] = pd.to_datetime(data_project['Issuance Date'], format= '%Y-%m-%d')
data_project['Expiration Date'] = pd.to_datetime(data_project['Expiration Date'], format= '%Y-%m-%d')

In [5]:
data_project['Issuance Date'].head(5)

0   2010-11-05
1   2012-01-30
2   2008-02-04
3   1998-08-31
4   2007-04-30
Name: Issuance Date, dtype: datetime64[ns]

In [8]:
data_project['Days'] = (data_project['Issuance Date'] - data_project['Expiration Date']).dt.days

In [ ]:
#year-long permits were issued in the borough and it fraction

In [22]:
data_project.loc[data_project['Days'] >= 365,['Days','BOROUGH']]

            Days    BOROUGH
212664    3878.0      BRONX
216129     365.0   BROOKLYN
551132   35970.0   BROOKLYN
1176212   2773.0  MANHATTAN
1349083  32522.0  MANHATTAN

In [24]:
(5/data_project.shape[0])*100

0.00020588620422429079

In [31]:
data_project.loc[data_project['BIN'] == 5158958,['BIN','Issuance Date','Filing Status','Permit Status']]

             BIN Issuance Date Filing Status Permit Status
2287066  5158958    2013-04-24       INITIAL        ISSUED
2343909  5158958    2012-06-29       INITIAL        ISSUED
2361775  5158958    2012-06-18       INITIAL        ISSUED
2428340  5158958    2013-04-24       INITIAL        ISSUED

In [5]:
data_project.head(5)

,BOROUGH,BIN,Number,Street,Job #,Job doc. #,Job Type,Self_Cert,Block,Lot,...,Owner’s House State,Owner’s House Zip Code,Owner's Phone #,DOBRunDate,Latitude,Longitude,Council District,Census Tract,BBL,NTA
0,BRONX,2118801,2960,WEBSTER AVENUE,201088492,4,NB,NaN,3274,4,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.867490,-73.883225,11.0,425.0,2.032740e+09,Norwood ...
1,BRONX,2096812,100,DEKRUIF PLACE,200716298,2,A2,NaN,5141,120,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.875769,-73.828899,12.0,46201.0,2.051410e+09,Co-op City ...
2,BRONX,2008604,1898,HARRISON AVENUE,200974650,2,A2,NaN,2869,87,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.852603,-73.911461,14.0,243.0,2.028690e+09,University Heights-Morris Heights ...
3,BRONX,2007652,1998,MORRIS AVENUE,200278118,2,A1,NaN,2807,15,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.851661,-73.906937,14.0,241.0,2.028070e+09,Mount Hope ...
4,BRONX,2084155,565,WEST 235 STREET,201119173,2,A2,Y,5794,484,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.885720,-73.910270,11.0,297.0,2.057940e+09,Spuyten Duyvil-Kingsbridge ...

In [ ]:
## Ratio of Renewed permits holders of corporates vs Individuals

In [ ]:
data_project["Owner's Business Type"]=(data_project["Owner's Business Type"]).astype(str)
data_project['Filing Status'] = (data_project['Filing Status']).astype(str)

In [ ]:
data_project.loc[data_project['Filing Status'] =='RENEWAL',"Owner's Business Type"].value_counts()

In [ ]:
data_project.loc[data_project['Filing Status'] =='RENEWAL',"Owner's Business Type"].value_counts()/data_project[data_project['Filing Status']=='RENEWAL'].shape[0]

In [ ]:
186449/172545

In [ ]:
#If Job start date is 11 then permitt expires within 60 days
# Days = data_project['Issuance Date'] - data_project['Expiration Date']
# Month = data_project['Job Start Date'].dt.month

In [ ]:
data_project['Issuance Date'] = pd.to_datetime(data_project['Issuance Date'], format= '%Y-%m-%d')
data_project['Expiration Date'] = pd.to_datetime(data_project['Expiration Date'], format= '%Y-%m-%d')
data_project['Start Date'] = pd.to_datetime(data_project['Job Start Date'],yearfirst=True, format = '%Y-%m-%d',errors='coerce')
data_project['Days'] = (data_project['Issuance Date'] - data_project['Expiration Date']).dt.days

In [ ]:
data_project['Start Mon'] = data_project['Start Date'].dt.month
data_project.loc[data_project['Start Mon'].isnull(),'Start Mon']= 1.0

In [ ]:
tabl = pd.crosstab(data_project['Start Mon'],data_project['Days'])

In [ ]:
data_project['Start Mon'] = data_project['Start Date'].dt.month
data_project.loc[data_project['Start Mon'].isnull(),'Start Mon']= 1.0

In [ ]:
def funone(x):
    if x >= 0 and x <= 60:
        return 60
    else:
        return x

In [ ]:
dt_60 = data_project['Days'].apply(funone)
Mon_nov = data_project.loc[data_project['Start Mon']==11.0,'Start Mon']

In [ ]:
tab2 = pd.crosstab(dt_60,Mon_nov)

In [ ]:
from scipy.stats import chi2_contingency
chi2,p,dof,e=chi2_contingency(tab2.values)
print(p)
print('p values is {} chi squ {}' .format(p,chi2))

In [ ]:
#number of permits issued in 2010 and Total residenc - per Zipcode

In [ ]:
data_project['Resd'] = data_project['Residential'].astype('str')
data_project.loc[data_project['Resd'].isnull(),'Resd']='No'
data_project['Resd'] = data_project['Resd'].replace('nan','No')
dp=data_project.loc[data_project['filldt'] == 2010,['Resd','Postcode']]

In [ ]:
def funtwo(x):
    if x == 'YES':
        return 1.0
    else:
        return 0.0

In [ ]:
dp['Resd']=dp['Resd'].apply(funtwo)

In [ ]:
((dp.groupby('Postcode')['Resd'].sum()/dp.groupby('Postcode')['Resd'].count())<0.05).count()

In [ ]:
#1990- 2012 - Job start in Jul and Aug Vs Job start in Jan and Feb - per year 
#High ratio

In [ ]:
data_project['Start Date'] = pd.to_datetime(data_project['Job Start Date'],yearfirst=True, format = '%Y-%m-%d',errors='coerce')
data_project['Start Mon'] = data_project['Start Date'].dt.month
data_project['Start Yr'] = data_project['Start Date'].dt.year
data_project.loc[data_project['Start Mon'].isnull(),'Start Mon']= 1.0
data_project.loc[data_project['Start Yr'].isnull(),'Start Yr']=1990.0
dt=data_project.loc[(data_project['Start Yr'] >= 1990.0) & (data_project['Start Yr'] <= 2012.0),:]

In [ ]:
dtt=pd.DataFrame(pd.crosstab(dt['Start Yr'],dt['Start Mon']).T)
# Year and rario
dtt.iloc[0:2,:].sum(axis=0)/dtt.iloc[7:9,:].sum(axis=0)
#Highest raatio
max(dtt.iloc[0:2,:].sum(axis=0)/dtt.iloc[7:9,:].sum(axis=0))